@{
  Layout = "_Layout";
}
  @using Pierres.Models;

  <div class="jumbotron text-center">
    <h1>Welcome to Pierre's Sweet and Savory Treats!</h1>
  </div>
  <br>
  <hr>

  <h4>Treats:</h4>
  @if (Model["treats"].Length == 0)
  {
    <p>No treats have been added!</p>
  } 
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li>@Html.ActionLink(@treat.TreatType, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
  </ul>

  <h4>Flavors:</h4>
  @if (Model["flavors"].Length == 0)
  {
    <p>No Flavors have been added!</p>
  } 
  <ul>
    @foreach (Flavor flavor in Model["flavors"])
    {
      <li>@Html.ActionLink(@flavor.FlavorType, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
    }
  </ul>