@{
  Layout = "_Layout";
}
  @using Pierres.Models;

  <div class="jumbotron text-center">
    <h1>Welcome to Pierre's Sweet and Savory Treats!</h1>
    <img src="https://media.istockphoto.com/id/1140197448/vector/sweet-pastry-icons-set-vector-bakery-products.jpg?s=612x612&w=0&k=20&c=-60wxze2QPm6XKOmMUgmdjnVn4o0o5eJueAouoM4VZE=" alt="treats" width="25%" length="25%">
  </div>
  <br>
  <hr>

  <h4>Treats:</h4>
  @if (Model["treats"].Length == 0)
  {
    <p>No treats have been added!</p>
  } 
  @foreach (Treat treat in Model["treats"])
  {
    <p>@Html.ActionLink(@treat.TreatType, "Details", "Treats", new { id = @treat.TreatId})</p>
  }

  <h4>Flavors:</h4>
  @if (Model["flavors"].Length == 0)
  {
    <p>No Flavors have been added!</p>
  } 
  @foreach (Flavor flavor in Model["flavors"])
  {
    <p>@Html.ActionLink(@flavor.FlavorType, "Details", "Flavors", new { id = @flavor.FlavorId})</p>
  }
  