@{
  Layout = "_Layout";
}

@using Pierres.Models
@model Pierres.Models.Flavor

<h2>Flavors:</h2>
<br>
<h3>@Html.DisplayNameFor(model => model.FlavorType): @Html.DisplayFor(model => model.FlavorType)</h3>

@if(@Model.JoinTreat.Count == 0)
{
  <p>This flavor no treat associated with it</p>
}
else
{
  <h3>Treats:</h3>
  
  @foreach(TreatFlavor join in Model.JoinTreat)
  {
    <p>@join.Treat.TreatType</p>
  }
}

<div id="index-nav">
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId }) | @Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })
</div>